/* ============================================= */
/*                Alert Bar Layout               */
/* ============================================= */

.alert-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: dodgerblue;
    p {
        margin: 5px;
    }
}