/* ============================================= */
/*                Alert Bar Layout               */
/* ============================================= */

.alert-banner {
    background-color: $brand-color-primary;
    width: 95%;
    margin: auto;
    border-radius: 4px;
}
.alert-banner-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: auto;
    cursor: pointer;
    p {
        margin: 5px 0;
        color: $white-txt;
        strong {
            color: white;
        }
    }
}