/* ============================================= */
/*                Alert Bar Layout               */
/* ============================================= */

.alert-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $brand-color-primary;
    p {
        margin: 5px;
        color: $white-txt;
    }
}