/* ============================================= */
/*                Traffic Chart                  */
/* ============================================= */

.traffic-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: auto;
}

.traffic-nav {
    list-style: none;
    display: flex;
    flex-direction: row;
    // margin-right: 30px;
    .traffic-nav-link {
        display: block;
        font-size: .75em;
        padding: 5px 5px;
        &:last-child {
            margin-right: 5px;
        }
    } 
    
}

.active {
    background-color: $active-link-color;
    color: $white-txt;
    border-radius: 10px;
}

.widget-container-full {
    margin: auto;
}

@media (min-width: 768px) {

}