/* ============================================= */
/*                Traffic Chart                  */
/* ============================================= */

.traffic-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.traffic-nav {
    list-style: none;
    display: flex;
    flex-direction: row;
    .traffic-nav-link {
        margin-right: 10px;
        font-size: .75em;
    }
    
}

.active {
    background-color: limegreen;
    border-radius: 10px;
    padding: 0 10px;
}