/* ============================================= */
/*                Main-Header                    */
/* ============================================= */

.main-header {
    background-color: whitesm;
}
.main-header-content {
    display: grid;
    // width: 95%;
    margin: auto;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    'dashboard search';
    align-items: center;
    margin-bottom: 10px;
}

.headline {
    grid-area: dashboard;
    font-size: 1.1em;
    padding-left: 8px;
    padding-right: 8px;
}
.main-header-search {
    grid-area: search;
    justify-self: end;
    background-color: whitesmoke;
    height: 100%;
    width: 100%;
    display: flex;
    border-left: solid 1px lightgray;
    border-bottom: solid 1px lightgray;
    padding-right: 8px;
    input[type='search'] {
        margin-left: auto;
        width: 75%;
        height: 50%;
        align-self: center;
    }
}

@media (min-width: 768px) {
    .main-header {
        width: 100%;
        grid-column: 1 / span 2;
    }

    .headline {
        padding-left: 15px;
    }

    input[type='search'] {
        margin-right: 15px;
    }
}