/* ============================================= */
/*     New Members & Recent Activity Sections    */
/* ============================================= */

.members-container,
.activity-container {
    display: flex;
    align-items: center;
    border-bottom: solid 1px $border-color;
    .profile-image {
        margin-right: 10px;
    }
}

.members-text {
    p {
        font-size: .9em;
        margin-bottom: 0;
        margin-top: 0;
    }
    a {
        font-size: .75em;
        color: $link-color;
    }
}

.activity-text {
    display: flex;
    flex-direction: column;
    p:first-child{
        font-size: .9em;
        margin-bottom: 0;
        margin-top: 0;
    }
}

.activity-text {
    margin: 5px 20px 5px 0;
}

.activity-time {
    font-size: .75em;
    margin-bottom: 0;
    margin-top: 0;
}

.date,
.arrow {
    margin-left: auto;
    font-size: .9em;
}