/* ============================================= */
/*                Navigation Layout              */
/* ============================================= */
.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: auto;
    background-color: tomato;
}

.nav-icons {
    height: 30px;
    width: 30px;
    margin: 10px 0;
}