/* ============================================= */
/*                Settings  Widget               */
/* ============================================= */

.switch-light,
.switch-ios {
    display: flex;
    justify-content: space-between;
   
}

.switch-ios {
    span {
        width: 50%;
    }
}