/* ============================================= */
/*                Social Stats                   */
/* ============================================= */

.social-container-wrapper {
    display: flex;
    justify-content: space-around;
}

.social-container {
    background-color: whitesmoke;
}